{{ define "main" }}
{{ if .Menus }}
<nav class="post-navigation">
  {{ range.Menus }}
  <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}
</nav>
{{ end }}

<article class="post h-entry">
  <header class="post-header">
    <h1
      class="p-name post-title{{ if .Params.favorite }} favorite{{
        end
      }}{{ if .Params.draft }} draft{{ end }}"
    >
      {{ trim .Title  " " }}
    </h1>

    {{ partial "post-language-switcher.html" . }}
  </header>
  <div class="content e-content">
    {{ if .Params.featureimage }}
  {{ $imagePath := path.Join "images/uploads/" .Params.featureimage.fileName }}
  {{ $banner := resources.GetMatch $imagePath }}

  {{ if $banner }}

  {{ $tiny := ($banner.Resize "480x") }}
  {{ $small := ($banner.Resize "768x") }}
  {{ $medium := ($banner.Resize "1024x") }}
  {{ $large := ($banner.Resize "1200x") }}

  <img
    class="featured-image"
    loading="lazy"
    srcset="
        {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
        {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
        {{- with $large.RelPermalink -}}, {{.}} 1200w{{- end -}}"
    src="{{ $banner.RelPermalink }}"
    alt="{{ .Params.featureimage.alias }}"
  />

    <span class="image-credit"
      >Photo by
      <a
        href="{{ .Params.featureimage.creditAuthorUrl }}"
        >{{ .Params.featureimage.creditAuthor }}</a
      >
      on
      <a
        href="{{ .Params.featureimage.creditUrl }}"
        >{{ .Params.featureimage.creditPlatform  }}</a
      ></span
    >
    {{ end }}
    {{ end }}

    {{ if .Params.toc }}

    <div class="ToC">
	    <div class="ToC-title">
		    <span class="collapse-icon arrow down"></span>
		    <h2> {{ i18n "tableOfContents" | humanize }} </h2>
	    </div>
    {{ .TableOfContents }}
    </div>
    <script>
	const triggerTocButton = document.querySelector('.container #main .content .ToC .ToC-title');
	const tocNav = document.querySelector('.container #main .content .ToC #TableOfContents');
	const icon = document.querySelector('.collapse-icon.arrow');

	const triggerToc = () => tocNav.classList.toggle('collapsed');
	const animateIcon = () => { 
		icon.classList.toggle('down');
		icon.classList.toggle('right');
	};

	triggerTocButton.addEventListener('click', () => {
		triggerToc();
		animateIcon();
	});
</script>

    {{ end }}
    {{ .Content }}
  </div>
  {{ partial "post-info.html" . }}
</article>


{{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
{{ partial "post-pagination.html" . }}
{{ end }}

{{ if .Site.DisqusShortname }}
{{ template "_internal/disqus.html" . }}
{{ end }}

{{ if .Site.Params.UtterancesRepo }}
{{ partial "utterances.html" . }}
{{ end }}

{{ end }}
