.container .common-header .header-top .site-title a {
  font-size: 1.5rem;
}
.container .common-header .header-top .header-stuff {
  display: flex;
  align-items: center;
}

.container .common-header .header-top .header-stuff nav {
  background: initial;
  font-size: 1rem;
  padding: 0 1rem;
}

.container .common-header .header-top .header-stuff nav a {
  margin: 0;
}

.container .common-header .header-top .header-stuff nav a:hover {
  color: initial;
  border-bottom: 1px solid black;
}
.container #main .articles.h-feed .p-name.post-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}
.container #main .articles.h-feed .featured-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.container #main .post.h-entry .content.e-content img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}
.container #main .post.h-entry .content.e-content .image-credit {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}
