<article class="post-list h-feed">
  <header class="post-header">
    <h2
      class="p-name post-title{{ if .Params.favorite }} favorite{{
        end
      }}{{ if .Params.draft }} draft{{ end }}"
    >
      <a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " }}</a>
    </h2>
    {{ partial "post-language-switcher.html" . }}
  </header>

  {{ if .Params.featureimage }}

  {{ $imagePath := path.Join "images/uploads/" .Params.featureimage.fileName }}
  {{ $banner := resources.GetMatch $imagePath }}

  {{ if $banner }}
  {{ $tiny := ($banner.Resize "480x") }}
  {{ $small := ($banner.Resize "768x") }}
  {{ $medium := ($banner.Resize "1024x") }}
  {{ $large := ($banner.Resize "1200x") }}

  <img
    class="featured-image"
    loading="lazy"
    srcset="
        {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
        {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
        {{- with $large.RelPermalink -}}, {{.}} 1200w{{- end -}}"
    src="{{ $banner.RelPermalink }}"
    alt="{{ .Params.featureimage.alias }}"
  />

  {{ end }}
  {{ end }}
  {{ if not .Site.Params.disableSummary }}
  <div class="content post-summary p-summary">
    {{ .Summary | safeHTML }}
  </div>
  {{ end }}
  {{ if and (.Truncated) (.Site.Params.readMore) }}
  <div class="read-more">
    <a
      class="u-url"
      href="{{ .RelPermalink }}"
      >{{ i18n "readMore" | humanize }}</a
    >
  </div>
  {{ end }}

  {{ partial "post-info.html" . }}
</article>
